<% @gifs.each do |gif| %>
    <div class="white">
        <h2><%= link_to gif.title, gif_path(gif)%></h2>
        <img src="<%= gif.link %>" height="250" width = "250" >
        <br>
        <t><%= raw tag_links(gif.all_tags) %></t>
    </div>
<% end %>